# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
logs.txt

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# Rider
.idea/
*.sln.iml

# Build
*.dll
*.pdb
*.exe
!*.exe.config

# OS
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# User-specific files
*.userprefs
